<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand fw-bold" routerLink="/peliculas">TP Web Services</a>

    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarMain"
      aria-controls="navbarMain"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarMain">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0 align-items-center">
        <li class="nav-item">
          <a class="nav-link" routerLink="/peliculas" routerLinkActive="active">Películas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/autos" routerLinkActive="active">Vehículos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/divisas" routerLinkActive="active">Conversor</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/tts" routerLinkActive="active">Texto a Voz</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/qr" routerLinkActive="active">Generador QR</a>
        </li>
        <li class="nav-item ms-lg-3 mt-2 mt-lg-0">
          <button class="btn btn-outline-light btn-sm d-flex align-items-center gap-2" (click)="toggleTheme()" aria-label="Cambiar tema">
            @if (theme === 'light') {
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16"><path d="M6 .278a.768.768 0 0 1 .08.858 7.208 7.208 0 0 0-.878 3.46c0 4.021 3.278 7.277 7.318 7.277.527 0 1.04-.055 1.533-.16a.787.787 0 0 1 .81.316.733.733 0 0 1-.031.893A8.349 8.349 0 0 1 8.344 16C3.734 16 0 12.286 0 7.71 0 4.266 2.114 1.312 5.124.06A.752.752 0 0 1 6 .278z"/></svg> Oscuro
            } @else {
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16"><path d="M8 11a3 3 0 1 1 0-6 3 3 0 0 1 0 6zm0 1a4 4 0 1 0 0-8 4 4 0 0 0 0 8zM8 0a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 0zm0 13a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 13zm8-5a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2a.5.5 0 0 1 .5.5zM3 8a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2A.5.5 0 0 1 3 8zm10.657-5.657a.5.5 0 0 1 0 .707l-1.414 1.415a.5.5 0 1 1-.707-.708l1.414-1.414a.5.5 0 0 1 .707 0zm-9.193 9.193a.5.5 0 0 1 0 .707L3.05 13.657a.5.5 0 0 1-.707-.707l1.414-1.414a.5.5 0 0 1 .707 0zm9.193 2.121a.5.5 0 0 1-.707 0l-1.414-1.414a.5.5 0 0 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .707zM4.464 4.465a.5.5 0 0 1-.707 0L2.343 3.05a.5.5 0 1 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .708z"/></svg> Claro
            }
          </button>
        </li>
      </ul>
    </div>
  </div>
</nav>

<main class="container-fluid py-4">
  <router-outlet />
</main>

<div class="toast-container position-fixed bottom-0 end-0 p-3" style="z-index: 1055;">
  @for (toast of toastService.toasts(); track toast) {
    <div class="toast align-items-center text-bg-{{ toast.type }} border-0 show" role="alert" aria-live="assertive" aria-atomic="true">
      <div class="d-flex">
        <div class="toast-body">
          {{ toast.message }}
        </div>
        <button type="button" class="btn-close btn-close-white me-2 m-auto" (click)="toastService.remove(toast)" aria-label="Cerrar"></button>
      </div>
    </div>
  }
</div>

<button 
  class="btn btn-primary fab-top" 
  [class.show]="showFab" 
  (click)="scrollToTop()" 
  aria-label="Volver arriba">
  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 16 16">
    <path fill-rule="evenodd" d="M7.646 4.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1-.708.708L8 5.707l-5.646 5.647a.5.5 0 0 1-.708-.708l6-6z"/>
  </svg>
</button>
